! Adjusting the font
xterm*faceName: IBM Plex Mono
xterm*faceSize: 11
 
! Changing foreground/background color
! Onehalf theme
! font
xterm*background: rgb:30/30/30
xterm*foreground: rgb:ab/b2/bf

! black
xterm*color0:     rgb:28/2c/34
xterm*color8:     rgb:5d/67/7a
! red
xterm*color1:     rgb:e0/6c/75
xterm*color9:     rgb:e0/6c/75
! green
xterm*color2:     rgb:98/c3/79
xterm*color10:    rgb:98/c3/79
! yellow
xterm*color3:     rgb:e5/c0/7b
xterm*color11:    rgb:e5/c0/7b
! blue
xterm*color4:     rgb:61/af/ef
xterm*color12:    rgb:61/af/ef
! magenta
xterm*color5:     rgb:c6/78/dd
xterm*color13:    rgb:c6/78/dd
! cyan
xterm*color6:     rgb:56/b6/c2
xterm*color14:    rgb:56/b6/c2
! white
xterm*color7:     rgb:dc/df/e4
xterm*color15:    rgb:dc/df/e4

xterm*cursorColor: rgb:d6/d6/d6

! Adding a scroll-bar on the right side
xterm*scrollBar: true
xterm*rightScrollBar:true
 
! prevent jumping back to the last line with new output
xterm*scrollTtyOutput: false
 
! add keyboard shortcuts to jump to beginning/end
xterm*vt100.translations: #override \n Shift <Key>Home: scroll-forw(10000000000) \n Shift <Key>End: scroll-back(10000000000)
